Thumbs.db
.project
.tern-project
.classpath
.factorypath
.settings/
.springBeans
.gradle
.iml
.cfe
.cfs
.si
.lock



target/
test-output/
/out/
.idea/


*.class
*.classpath
*.iml
.idea/workspace.xml

bin
build
